<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TrendsNet v.2.3</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="slick-1.6.0/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="slick-1.6.0/slick/slick-theme.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="../img/TN.png" height="32" width="32" style="float: left;">TrendsNet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Courses</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Certifications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Schedules</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#register">Register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!--<div class="secmenudo" style="margin-top: 50px; background-color: black;">
<nav id="secmenu">
    <div class="share">
  <a href="#">Share</a>
  <div>
    <ul>
      <li><a href="#">google+</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">twitter</a></li>
    </ul>
  </div>
</div>

<div class="share orange">
  <a href="#">Share</a>
  <div>
    <ul>
      <li><a href="#">google+</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">twitter</a></li>
    </ul>
  </div>
</div>

<div class="share yellow">
  <a href="#">Share</a>
  <div>
    <ul>
      <li><a href="#">google+</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">twitter</a></li>
    </ul>
  </div>
</div>

<div class="share black">
  <a href="#">Share</a>
  <div>
    <ul>
      <li><a href="#">google+</a></li>
      <li><a href="#">facebook</a></li>
      <li><a href="#">twitter</a></li>
    </ul>
  </div>
</div>
</nav>
</div>-->

    <header>

        <div class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                </div>
                <div class="item">
                </div>
                <div class="item">
                </div>
            </div>
        </div>

        <div class="header-content">


            <div class="header-content-inner">


                <div class="content-slider container">
                   <h1 class="LEE2">LEARNING | EVOLVING | EMPOWERING</h1>
                            <hr id="LEE" style="border-top: 1px solid #8c8b8b; max-width: 70%;">
                  <div class="slider row">
                    <div class="mask">
                      <ul>
                        <li class="anim1">
                          <div class="quote">Hello, this is a quote from a person.</div>
                          <div class="source">- Person</div>
                        </li>
                        <li class="anim2">
                          <div class="quote">Hello, this is a quote from another person.</div>
                          <div class="source">- Another person</div>
                        </li>
                        <li class="anim3">
                          <div class="quote">Hello, this is a quote from an animal.</div>
                          <div class="source">- Animal</div>
                        </li>
                        <li class="anim4">
                          <div class="quote">Hello, this is a quote from a plant.</div>
                          <div class="source">- Plant</div>
                        </li>
                        <li class="anim5">
                          <div class="quote">How do ya like that.</div>
                          <div class="source">- Cassidy</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </header>

<!-- About -->
    <section id="about"> 

        <div>
            <div>
                <h2 class="section-heading">Take a glance!</h2>
                <hr class="primary">
            </div>
            <div>
     
    <style>
.tab div {
    display: none;
}

.tab div:target {
    display: block;
}
</style>            
    <div class="aboutus column">
        <div>
            <figure><a href="http://geekgirllife.com/place-text-over-images-on-hover-without-javascript/" target="#yourboat"><img src="../img/portfolio/thumbnails/1.jpg" /></a></figure>
            <span class="text-content"><span>About Us</span></span>
                
        </div >
        <div>
            <figure><img src="../img/portfolio/thumbnails/2.jpg" /></figure>
        </div>
        <div>
            <figure><img src="../img/portfolio/thumbnails/3.jpg" /></figure>
        </div>
        <div>
            <figure><img src="../img/portfolio/thumbnails/4.jpg" /></figure>
        </div>
        <div>
            <figure><img src="../img/portfolio/thumbnails/4.jpg" /></figure>
        </div>
    </div>
            </div>
        <div id="yourboat" class="tab">
            <p>Lorem ipsum dolor sit amet, usu menandri complectitur in. Qui ad prima persequeris intellegebat, cum id eros diceret. Te mei mucius graecis, ei eam populo consequat. Te inani atomorum ius, has ex mucius iriure disputationi, pro dicam laoreet expetenda et.</p>

            <p>Mutat tibique appetere no ius, mel ex oratio euismod posidonium, suscipit cotidieque ne pri. Te eos saepe dictas. Ea quo nulla zril oratio, antiopam similique ad sea. Ne solet impedit duo, illum evertitur mei at. Omittam delicata efficiantur id ius, oratio albucius pro an.</p>

            <p>In magna posse nec. At vis iriure indoctum pertinacia, eos an sententiae dissentiet. Mea adhuc elaboraret id. Dico elitr interesset mei ut. Mei ex probo convenire, vix et ipsum civibus. Dictas persecuti cu vis.</p>

            <p>Pro ut volumus accusata scriptorem, te veri singulis sea, atqui sadipscing eum ut. Ea albucius accusamus constituto vis. Sed ea errem efficiendi, ex pro expetendis disputando. Sea cu dicat congue ocurreret.</p>
            
            <p>Aliquip dolorem lobortis has ei. Utamur appellantur reformidans vim ei, cu hinc reprehendunt usu. Id mea oblique prompta, ius ut illud nonumy quaerendum. Ea nec accusamus laboramus.</p>
        </div>
        </div>

    </section>

    <section id="services"  style="padding-top:50px; padding-bottom:50px"> <!-- Courses -->
                <div class="col-lg-12 .col-xs-6 text-center">
                    <h2 class="section-heading">Courses at your service!</h2>
                    <hr class="primary">
                </div>
                <div class="col-md-12 .col-xs-6"  style="padding-top:50px; padding-bottom:100px">
                    <div class="center slider2" style="border: 2px solid black; overflow: hidden; height: 100%;
                    ">
                        <div>
                          <img src="../img/logo/2000px-Avaya_Logo.svg.png">
                        </div>
                        <div>
                          <img src="../img/logo/aruba-logo2.png">
                        </div>
                        <div>
                          <img src="../img/logo/BLUE-COAT-LOGO2.png">
                        </div>
                        <div>
                          <img src="../img/logo/Cisco_logo.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/citrix-logo-black2.png">
                        </div>
                        <div>
                          <img src="../img/logo/cobit-elearning2.png">
                        </div>
                        <div>
                          <img src="../img/logo/Comptia-logo.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/Dell_EMC_logo.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/F5_Networks_logo.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/iiba_transparent23.png">
                        </div>
                        <div>
                          <img src="../img/logo/infoblox2.png">
                        </div>
                        <div>
                          <img src="../img/logo/Netapp_logo.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/palo-alto-logo2.png">
                        </div>
                        <div>
                          <img src="../img/logo/PMI_logo2.png">
                        </div>
                        <div>
                          <img src="../img/logo/RedHat.svg2.png">
                        </div>
                        <div>
                          <img src="../img/logo/Riverbed_logo_logotipo2.png">
                        </div>
                        <div>
                          <img src="../img/logo/unnamed2.png">
                        </div>
                        <div>
                          <img src="../img/logo/VMWareLogo1-Color-1024x176.png">
                        </div>
                    </div>
                </div>
                
        
        <div class="clear-fix"></div>
    </section>

    <section class="no-padding" id="portfolio"><!-- Certifications -->
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/3.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/4.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/5.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="img/portfolio/fullsize/6.jpg" class="portfolio-box">
                        <img src="img/portfolio/thumbnails/6.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Project Name
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2><strong>Be</strong> one of them, <strong>Certify</strong> yourself today!</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="btn btn-default btn-xl sr-button">Certifications</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 style="margin: 0px auto; padding: 5px 5px 5px 5px;">Choose your certification</h2>
    </div>
    <div class="modal-body" style="margin-left: 10px;">


      <div class="magic"><a href="#"><img class="imgs" src="../img/logo/2000px-Avaya_Logo.svg.png"><div class="overlay"><div class="text"></div></div></a></div>

      <div class="magic"><a href="#"><img class="imgs" src="../img/logo/aruba-logo2.png"><div class="overlay"><div class="text"></div></div></a></div>

      <div class="magic"><a href="#"><img class="imgs" src="../img/logo/Cisco_logo.svg2.png"><div class="overlay"><div class="text"></div></div></a></div>

      <div class="magic"><a href="#"><img class="imgs" src="../img/logo/Comptia-logo.svg2.png"><div class="overlay"><div class="text"></div></div></a></div>

      <div class="magic"><a href="#"><img class="imgs" src="../img/logo/Dell_EMC_logo.svg2.png"><div class="overlay"><div class="text"></div></div></a></div>


    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
            </div>
        </div>
    </aside>
    
    <section id="contact"> <!-- Contact -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Schedules</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Register!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <section id="register">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's keep in touch!</h2>
                    <hr class="primary">
                </div>

                <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-facebook text-primary sr-icons"></i>
                        <h3>Keep updated</h3>
                        <p class="text-muted">Like us on Facebook</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                        <h3>Let us tell you about it</h3>
                        <p class="text-muted">Follow us on Twitter</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-google-plus text-primary sr-icons"></i>
                        <h3>Be organize</h3>
                        <p class="text-muted">+1 on Google page</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o text-primary sr-icons"></i>
                        <h3>Let's talk about it</h3>
                        <p class="text-muted">Message us on Facebook</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

            <section id="contact">
            <style type="text/css">
               .col-lg-5 {
                    float: left;
                    padding: 0px;
                    margin: 0px auto;
                    border: 2px solid black;
                    text-align: center;
                    width: auto;
                }
            </style> 

                <div class="col-lg-5">        
                <h5><strong>Phone:</strong></h5><i class="fa fa-phone fa-2x sr-contact"></i>
                <p>632.848.6916</p>
                </div>

                <div class="col-lg-5">
                <h5><strong>Fax:</strong></h5><i class="fa fa-fax fa-2x sr-contact"></i>
                <p>632.848.6943</p>
                </div>

                <div class="col-lg-5">
                <h5><strong>Email:</strong></h5><i class="fa fa-envelope-o fa-2x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">training@trendsnet.com.ph</a></p>
                </div>

                <div class="col-lg-5">
                <h5><strong>Address:</strong></h5><i class="material-icons fa-3x sr-contact">business</i>
                <h6>16/F Trafalgar Plaza 105 H.V. Dela Costa St. Salcedo Village, 1227 Makati City Philippines</h6>
                </div>
            
            </section>
            <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>


    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="FlowType.JS-master/flowtype.js"></script>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="slick-1.6.0/slick/slick.js" type="text/javascript" charset="utf-8"></script>

</body>

<script type="text/javascript">  
    $(document).on('ready', function() {
    $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 1
      });
    });
</script>

</html>
